body {
    background-color:white;
    text-align:justify;
}

.hi-orig {
    font-size:18px;
    font-style: italic
}

.orig {
    font-size:18px;
}

.QuireMarksZone-orig {
    font-size:18px;
    color:DarkOrchid;
}

.MarginTextZone-orig {
    font-size:16px;
    color:CornflowerBlue;
}

.RunningTitleZone-orig {
    font-size:18px;
    color:DarkBlue;
}

.NumberingZone-orig {
    font-size:18px;
    color:DarkCyan;
}

.pb {
    font-size:20px;
    color:HotPink;
}